@import 'https://fonts.googleapis.com/css?family=Dosis|Open+Sans:600,800';
h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 4em;
  font-weight: 800;
  color: #FF4F00;
}

h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  font-weight: 800;
}

p{
  font-family: 'Dosis', sans-serif;
  font-size: 1.5em;
}

span{
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;
  font-size: 1em;
  color: #FF4F00;
}

nav{
  float: right;
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  margin:.75em .75em .75em 0;
}

nav a{
  margin: 0 .12em 0 .12em;
  color: #FF4F00;
}

a:hover{
  color: #ADC8D4;
}

footer{
  clear: both;
  background-color: #ffffff;
  padding: 1em;
}

body{
  background-color: #262626;
}

.logo{
  margin:.75em 0 .75em .75em;
  float: left;
  color: #ffffff;
}

.cta{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  color: #C77800;
  border: 5px solid;
	padding: .3em;
}

#ourworkcta{
  margin-top: 3em;
}

#portfoliocta{
  margin-top: 3em;
}

#letschatcta{
  margin-top: 3em;
}

#splash{
  background-image: url(https://crowlejt.github.io/unit_8/Images/splash.jpg);
  background-size: cover;
  text-align: center;
  padding: 6.25em;
  clear:both;
}

#thepitch,#brandstrategy,#branddesign,#brandexperience{
  background-color: #ffffff
}

#thepitch{
  text-align: center;
  padding: 4em;
}

#brandstrategy{
  float: left;
  width: 25%;
  max-height: 271px;
  height: 271px;

  padding: 1.5em;
  text-align: center;
  margin: .5em .25em 0 .25em;
}

#branddesign{
  float: left;
  width: 25%;
  max-height: 271px;
  height: 271px;

	padding: 1.5em;
  text-align: center;
  margin: .5em .25em 0 .25em;
}

#brandexperience{
  float: left;
  width: 25%;
  max-height: 271px;
  height: 271px;

	padding: 1.5em;
  text-align: center;
  margin: .5em .25em 0 .25em;
}

#workwithus{
  clear: both;
  background: #262626;
  padding: 4em;
  text-align: center;
}

#portfoliocta{
  clear: both;
  margin-top: 7em;
}
