@import 'https://fonts.googleapis.com/css?family=Dosis|Open+Sans:600,800';
*{box-sizing:border-box;}

h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 4em;
  font-weight: 800;
  color: #FF4F00;
}

h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 800;
}

p{
  font-family: 'Dosis', sans-serif;
  font-size: 1.5em;
}

span{
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;
  font-size: 1em;
  color: #FF4F00;
}

nav{
  float: right;
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  margin:2.5em .75em .75em 0;
}

nav a{
  margin: 0 .25em 0 .25em;
  color: #FF4F00;
}

a:hover{
  color: #ADC8D4;
}

footer{
  clear: both;
  background-color: #ffffff;
  padding: 1em;
}

body{
  background-color: #262626;
}

.brandstrategy{
  width:30.33%;
  margin:1.5%;
  height:300px;
  float:left;
  padding:2em;
}

.branddesign{
  width:30.33%;
  margin:1.5%;
  height:300px;
  float:left;
  padding:2em;
}

.brandexperience{
  width:30.33%;
  margin:1.5%;
  height:300px;
  float:left;
  padding:2em;
  }

.logo{
  margin:.75em 0 .75em .75em;
  float: left;
}

.cta{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  color: #C77800;
  border: 5px solid;
	padding: .3em;
}

#offerings{
  text-align: center;
  overflow: auto;
  display: block;
}

#ourworkcta{
  margin-top: 4em;
  text-align: center;
}

#portfoliocta{
  clear: both;
  margin-top: .5em;
  text-align: center;
}

#letschatcta{
  margin-top: 4em;
  text-align: center;
}

#splash{
  background: url(https://crowlejt.github.io/unit_8/Images/splash.jpg) no-repeat center center scroll;
  background-size: cover;
  text-align: center;
  padding: 8em 6.25em;
  clear: both;
}

#thepitch,#brandstrategy,#branddesign,#brandexperience{
  background-color: #ffffff
}

#thepitch{
  text-align: center;
  padding: 4em;
}

#workwithus{
  clear: both;
  background: #262626;
  padding: 4em;
  text-align: center;
}

.clearfix:after{
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

@media (max-width: 749){
  #portfoliocta{
    margin: 4em;
  }
}

@media (max-width: 732){
  .brandstrategy,.branddesign,.brandexperience{
    width:30.33%;
    margin:1.5%;
    height:300px;
    padding:2em;
    text-align: center;
  }
}
