h1 {
	color: #FF4F00;
	font-family: Montserrat, sans-serif;
	font-weight: bolder;
	font-size: 45px
}
h2 {
	color: #ADC8D4
}

body {
	color: #262626;
	font-family: Tahoma, sans-serif;
	font-weight: bolder;
}

div {
	background-image: url("../images/hero4.jpg");
	background-size: cover;
	text-align: center;
	padding-bottom: 200px;
	padding-top: 200x;
	padding-left: 100px;
	padding-right: 100px;
}

#slogan {
	color: #ADC8D4;
	font-family: Tahoma, sans-serif;
	font-style: italic;;
	font-size: 24px;
}

ul {
	color: #FFFFFF;
	font-family: Tahoma, sans-serif;
	font-weight: bold;
}

.packages {
	color: #C77800;
	font-family: Tahoma, serif;
}
p {
	font-family: Tahoma, serif;
}
