h1 {
	color: #FF4F00;
	font-family: Montserrat, sans-serif;
	font-weight: ;
}

body {
	color: #262626;
	font-family: Tahoma, sans-serif;
	font-weight: normal;
}

#slogan {
	color: #262626;
	font-family: Tahoma, sans-serif;
	font-style: italic;
}
